.background {
    fill: white;
    pointer-events: all;
}

/*.background-size{
    height: 400px;
    width: 400px;}*/

#states {
    stroke: white;
    stroke-width: 1px;
}

#states text {
    fill: white;
    stroke: none;
    text-anchor:middle;
    font-size: 10px;
}

#states .active {
    fill: orange !important;
}

#states text.active {
    font-size: 12px;
    font-weight:bold;
    stroke-width: .5px;
    stroke: #000;
}
